@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@font-face {
  font-family: 'SF Pro';
  src: url('./fonts/SF-Pro.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Hakgyoansim_PosterOTFB';
  src: url('./fonts/Hakgyoansim_PosterOTFB.otf') format('truetype');
  font-style: normal;
}